:root {
    --color1: black;
    --color2: white;
    --color3: gray;
    --color4: blue;
    --color5: rgba(45,45,45);
    --color6:  rgb(86, 83, 83);
}
.questions {
    background-color: var(--color1);
    margin-top: 1rem;
    color: var(--color2);
    text-align: center;
    padding: 5%;
}
.main-questions {
    margin-top: 1rem;
}
.main-questions h1 {
    font-weight: bolder;
    font-size: 8rem;
}
details {
    width: 100%;
    background-color: var(--color5);
    color: var(--color2);
    margin-bottom: 0.5rem;
}
summary {
    text-decoration: solid;
    text-align: start;
    font-size: 6rem;
    color: var(--color2);
    font-weight: bolder;
    padding-top: 3.5rem;
    position: relative;
    padding-bottom: 3.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
    border-bottom: solid;
    border-bottom-color: var(--color1);
    list-style-type: none;
}
summary:focus {
    background-color:var(--color6);
}
summary:hover{
    background-color: var(--color6);
}
p {
    margin-top: 1rem;
    display: block;
    font-size: 5rem;
    /* font-weight: bold; */
    text-align: start;
    padding-left: 1rem;
    padding-right: 4rem;
}
 p:nth-child(2) {
    padding-bottom: 1rem;
}
details summary::after {
    content: '+';
    font-size: 11rem;
    font-weight: lighter;
    right: 0;
    color: var(--color2);
    margin-top: -5rem;
    position: absolute;
}
details[open] summary::after{
    transform: rotate(45deg);
}
.one {
    padding-bottom: 1rem;
}
.check {
    text-align: center;
    font-weight: lighter;
    margin-top: 1.5rem;
    font-size: 5rem;
}
.nav-emails {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.nav-emails input {
    height: 10vh;
    width: 36%;
    background: var(--color5);
    margin-left: 3%;
    border-radius: 5px;
    color: white;
    border-style: solid;
    border-color: gray;
    outline: thick;
    outline-style: solid;
    outline-color: white;
    outline-width: 1px;
    border-width: 0.2rem;   
    border: none;
    position: relative;
    text-align: start;
    font-size: 3rem;
}
 .nav-emails label {
    position: relative;
    left: -36%;
    font-size: 4rem;
    font-weight: bold;
    line-height: 5px;
}
.nav-emails button {
    height: 10vh;
    width: 15vw;
    font-weight: bolder;
    padding: 0.1rem 0.3rem;
    border-radius: 5px;
    color: white;
    font-size: 3.7rem;
    border: none;
    margin-left: -8%;
    text-align: center;
    background-color: var(--color);

}
.nav-emails input:focus +label {
    top: -59px;
  
}

@media (orientation: portrait) {
    .questions {
        overflow: hidden;
    }
    .main-questions h1 {
        font-size: 1.8rem;
    }
    summary {
        font-size: 1rem;
        padding: 1rem;
    }
    details summary::after {
        font-size: 1.8rem;
        margin-top: -3%;
    }
    p {
        font-size: 1rem;
    }
    .check {
        font-size: 1.2rem;
        padding-bottom: 2rem;
    }
    .nav-emails {
        display: flex;
        flex-direction: column;
    }
    .nav-emails input {
        height: 10vh;
        width: 59vw;
        margin-top: -5%;
        font-size: 1.4rem;
    }
    .nav-emails label {
        font-size: 0.8rem;
        margin-left: 48%;
        margin-top: -12%;
    }
    .nav-emails button {
        width: 50vw;
        height: 7vh;
        margin-top: 14%;
        font-size: 0.8rem;
    }

}
@media (500px <= width <= 550px) {
    .nav-emails label {
        top: 15px;
        /* margin-left: 0.2%; */
    }
    .nav-emails input:focus + label {
        top: -10px;
    }
    
}
@media (600px <= width <= 850px) {
    .check {
        font-size: 1.4rem;
        padding-bottom: 4rem;
        padding-top: 2rem;
    }
    summary {
        font-size: 1.7rem;
        padding: 1.5rem;
    }
    details summary::after {
        font-size: 2.2rem;
        margin-top: -3%;
    }
    p {
        font-size: 1.4rem;
    }
    .nav-emails label, .nav-emails button, .nav-emails input {
       font-size: 1.7rem; 
    }
    .nav-emails label {
        margin-top: -8%;
    }
    .nav-emails input:focus + label {
        top: -30px;
    }
}
@media (900px <= width <= 950px) {
    summary {
        font-size: 1.7rem;
        padding: 1.5rem;
    }
    details summary::after {
        font-size: 2rem;
        margin-top: -2%;
    }
    p {
        font-size: 1.5rem;
    }
    .check {
        font-size: 1.5rem;
    }
    .main-questions h1 {
        font-size: 2.3rem;
    }
    .nav-emails label, .nav-emails button, .nav-emails input {
        font-size: 1.7rem; 
     }
     .nav-emails label {
        margin-top: -8%;
    }
    .nav-emails input:focus + label {
        top: -30px;
    }
}
@media (1020px <= width <= 2000px) {
    summary {
        font-size: 1.7rem;
        padding: 1.5rem;
    }
    details summary::after {
        font-size: 2.1rem;
        margin-top: -2%;
    }
    p {
        font-size: 1.5rem;
    }
    .check {
        font-size: 1.4rem;
    }
    .main-questions h1 {
        font-size: 2rem;
    }
    .nav-emails label {
        margin-top: -1%;
    }
    .nav-emails input:focus + label {
        top: -30px;
    }
    .nav-emails input {
        width: 35vw;
        height: 15vh;
    }
    .nav-emails label, .nav-emails button, .nav-emails input {
        font-size: 1.7rem; 
     }
     .nav-emails button {
        width: 30vw;
        height: 15vh;
        margin-left: -15%;
     }
    
}