:root {
    --color1: black;
    --color2: white;
    --color3: gray;
    --color4: blue;
    --color5: rgba(45,45,45);
    --color6:  rgb(86, 83, 83);
}
.questions {
    background-color: var(--color1);
    margin-top: 1rem;
    color: var(--color2);
    text-align: center;
    padding: 5%;
}
.main-questions {
    margin-top: 1rem;
}
.main-questions h1 {
    font-weight: bolder;
    font-size: 8rem;
}
details {
    width: 100%;
    background-color: var(--color5);
    color: var(--color2);
    margin-bottom: 0.5rem;
}
summary {
    text-decoration: solid;
    text-align: start;
    font-size: 6rem;
    color: var(--color2);
    font-weight: bolder;
    padding-top: 3.5rem;
    position: relative;
    padding-bottom: 3.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
    border-bottom: solid;
    border-bottom-color: var(--color1);
    list-style-type: none;
}
summary:focus {
    background-color:var(--color6);
}
summary:hover{
    background-color: var(--color6);
}
p {
    margin-top: 1rem;
    display: block;
    font-size: 5rem;
    /* font-weight: bold; */
    text-align: start;
    padding-left: 1rem;
    padding-right: 4rem;
}
 p:nth-child(2) {
    padding-bottom: 1rem;
}
details summary::after {
    content: '+';
    font-size: 11rem;
    font-weight: lighter;
    right: 0;
    color: var(--color2);
    margin-top: -5rem;
    position: absolute;
}
details[open] summary::after{
    transform: rotate(45deg);
}
.one {
    padding-bottom: 1rem;
}
.check {
    text-align: center;
    font-weight: lighter;
    margin-top: 1.5rem;
    font-size: 5rem;
}
@media (orientation: portrait) {
    .questions {
        overflow: hidden;
    }
    .main-questions h1 {
        font-size: 2.3rem;
    }
    summary {
        font-size: 1.3rem;
        padding: 1rem;
    }
    details summary::after {
        font-size: 2rem;
        margin-top: -2%;
    }
    p {
        font-size: 1.2rem;
    }
    .check {
        font-size: 1.2rem;
        padding-bottom: 2rem;
    }

}
@media (600px <= width <= 850px) {
    .check {
        font-size: 1.7rem;
        padding-bottom: 4rem;
        padding-top: 2rem;
    }
    summary {
        font-size: 2rem;
        padding: 1.5rem;
    }
    details summary::after {
        font-size: 2.5rem;
        margin-top: -3%;
    }
    p {
        font-size: 1.8rem;
    }
}
@media (900px <= width <= 950px) {
    summary {
        font-size: 2rem;
        padding: 1.5rem;
    }
    details summary::after {
        font-size: 2.5rem;
        margin-top: -2%;
    }
    p {
        font-size: 1.9rem;
    }
    .check {
        font-size: 1.9rem;
    }
    .main-questions h1 {
        font-size: 2.3rem;
    }
}
@media (1020px <= width <= 2000px) {
    summary {
        font-size: 2rem;
        padding: 1.5rem;
    }
    details summary::after {
        font-size: 2.5rem;
        margin-top: -2%;
    }
    p {
        font-size: 1.9rem;
    }
    .check {
        font-size: 1.9rem;
    }
    .main-questions h1 {
        font-size: 2.3rem;
    }
    
}