:root {
    --color1:black;
    --color2:white;
    

}
.profile {
    margin-top: 1rem;
    background-color: var(--color1);
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* width: 100vw; */
    overflow-x: hidden;
}
.main-texts {
    color: var(--color2);
    font-weight: bolder;
    width: 39%;

}
.main-texts h1 {
font-size: 8.5rem;
}
.main-texts h3 {
font-size: 4.8rem;
font-weight: lighter;
}
.profile-pix {
    height: 60vh;
}
@media (orientation:portrait) {
.profile {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    text-align: center;

}
.main-texts {
    width: 100vw;
    padding: 0 1rem;
}
.main-texts h1 {
    font-size: 2.3rem;
    text-align: center;
} 
.main-texts h3 {
    font-size: 1.5rem;
    padding: 0 1rem;
}
.profile-pix {
    width: 100vw;
    padding-left: 1rem;
    padding-right: 1rem;
    height: 40vh;
}
}
@media (500px <= width <= 550px) {
    .profile-pix {
        height: 60vh;
    }
}
@media (600px <= width <= 850px) {
    .profile-pix {
        height: 55vh;
    }
    .main-texts h3 {
        padding: 0 1.5rem;
    }
}

@media (1020px <= width <= 2000px) {
    .profile{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        overflow: hidden;
    }
    .main-texts {
        padding: 0 1rem;
        width: 100vw;
    }
    .main-texts h1 {
        font-size: 3rem;
    }
    .main-texts h3 {
        font-size: 1.5rem;
        font-weight: lighter;
    }

}