:root {
    --color1: black;
    --color2: white;
    --color3: gray;
    --color4: blue;
}
.phone {
    background-color: var(--color1);
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* flex-direction: row-reverse; */
    padding-bottom: 2rem;
}
.main-texted {
    color: var(--color2);
    font-weight: bolder;
    width: 39%;
    margin-top: 5%;
    padding-left: 11rem;
}
.main-texted h1 {
    font-size: 6rem;
}
.main-texted h3 {
    font-size: 3rem;
    font-weight: lighter;
}
.phone-pix {
    width: 37vw;
    height: 56vh;
    margin-top: 10%;
    padding-right: 25rem;
    /* margin-left: 3%; */
}
@media (orientation:portrait) {
    .phone {
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;

    }
    .main-texted {
        width: 100vw;
        padding: 0 1rem;
    }
    .main-texted h1 {
        font-size: 1.8rem;
    }
    .main-texted h3 {
        font-size: 1rem;
    }
    .phone-pix {
        width: 122vw;
        height: 52vh;
        padding-left: 25rem;
    }
}
@media (500px <= width <= 550px) {
    .phone-pix {
        height: 70vh;
        padding-left: 25rem;
    }
}
@media (1020px <= width <= 2000px) {
    .phone {
        display: flex;
        /* flex-direction: row; */
        overflow: hidden;
        justify-content: space-between;
        align-items: center;
    }
    .main-texted {
        width: 100vw;
        padding-left: 1rem;
    }
    .main-texted h1 {
        font-size: 2.5rem;
    }
    .main-texted h3 {
        font-size: 1.2rem;
    }
    .phone-pix {
        padding-right: 0;
        width: 60vw;
    }
}